# Binaries
/watui
*.exe

# SQLite databases & temp files
*.db*
*.db-wal
*.db-shm
*.db-journal

# Logs
*.log

# Go build cache & tooling
.envrc
.direnv/
.vscode/

# Config
watui.yaml

# Nix build outputs
result
result-*